.content-info {
  padding: 2%;
  background: @brand-darkred;
  background-image: url(../img/pattern-1.png);
  color: #fff;

  a {
    color: #fff;
    &:hover {
      color: @brand-lightgray;
    }
  }



// Footer Sidebar styles
  .footer-main {

  }


  // Footer Social Media & Copyright styles
  .secondary-footer {
    text-align: center;
    .designed {
      font-size: @font-size-small;
    }
    .copyright {
      font-size: @font-size-small;
    }
    .smedia {
      ul {
        padding: 0px;
        li {
          display: inline-block;
          margin: 0px 2%;
          a {
            display:block;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: @brand-white;
            color: @brand-red;
            &:hover {
              background-color: @brand-red;
              color: @brand-white;
            }
            i {
              vertical-align: -50%;
            }
          }
        }
      }
    }
  }
}
