.content-info {
  background: @gray;
  color: #fff;
  padding-bottom: 80px;
  a {
    color: #fff;
    &:hover {
      color: @brand-darkgray;
      text-decoration: underline;
    }
    text-decoration: underline;
  }
  a.button {
    .button;
    font-size: 14px;
    line-height: 3;
    padding: 10px 15px !important;
    text-decoration: none;
  }

  .container {
  }



// Footer Sidebar styles
  .main-footer {
    padding: 2% 0;
    background-image: url(../img/pattern-1.png);
    a:hover {
      color: @brand-red;
    }
    ul.menu {
      padding: 0;
      li {
        list-style-type: none;
        float: left;
        &:after {
          content: "|";
          margin: 0 5px;
          font-weight: 300;
        }
      }
    }
    ul.smedia {
      padding: 0px;
      li {
        text-align: center;
        display: inline-block;
        margin: 0px 2%;
        a {
          display:block;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: @brand-white;
          color: @brand-red;
          &:hover {
            background-color: @brand-red;
            color: @brand-white;
          }
          i {
            vertical-align: -50%;
          }
        }
      }
    }
  }


  // Footer Social Media & Copyright styles
  .secondary-footer {
    text-align: center;
    background-color: @gray;
    padding: 20px 0 1%;
    .designed {
      font-size: @font-size-small;
    }
  }
}

.smedia-module {
  text-align: center;
}

.donate-footer {
  font-weight: 300;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.6);
  text-align: center;
  z-index: 999999;
  padding: 15px 0;
  margin-bottom: -100px;
  transition: margin 1s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out;
  .donate-button {
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    background-color: @brand-red;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    &:hover {
      font-weight: 300;
      font-size: 14px;
      display: inline-block;
      background-color: @brand-darkred;
      text-transform: uppercase;
      padding: 10px 15px;
      border-radius: 3px;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

@media screen and (min-width: 660px) {
  .donate-footer {
      margin-bottom: -70px;
  }
}


.footer-visible {
  margin-bottom: 0px !important;
}
