.banner {
  border: 0px;
  box-shadow: 0 0 2px fade(@brand-black, 50%);
  @media all and (min-width: 992px) {
    position: fixed;
    left: 0;
    right: 0;
  }
  // Navigation
  nav {
    border: 0px;
  }
#mega-menu-wrap-primary_navigation .mega-menu-toggle {
  background-color: @brand-white;
  color: @brand-red;
  border-radius: 0;
}
  #mega-menu-wrap-primary_navigation ul#mega-menu-primary_navigation {
    background-color: @brand-white;
    text-align: right;
    a.mega-menu-link {
      font-size: 18px;
      color: @brand-red;
      border-bottom: 2px solid transparent;
      &:hover {
        color: @brand-red;
        background: none;
        border-bottom: 2px solid @brand-red;
      }
      &:focus {
        color: @brand-red;
        background: none;
        border-bottom: 2px solid @brand-red;
      }
    }
    // Megamenu Drop Downs
    li.mega-menu-item {
      ul.mega-sub-menu {
        a.mega-menu-link {
          font-size: 18px;
          font-weight: normal;
          text-transform: initial;
          color: @brand-red;
          border-bottom: 2px solid transparent;
          &:hover {
            color: @brand-red;
            font-weight: normal;
            background: none;
            border-bottom: 2px solid @brand-red;
          }
          &:focus {
            color: @brand-red;
            font-weight: normal;
            background: none;
            border-bottom: 2px solid @brand-red;
          }
        }
      }
    }
  }
  // Logo
  .navbar-header {
    .navbar-brand {
      img {
        width: 225px;
        margin: -10px 20px 0 0;
        @media all and (min-width: 768px) {
          width: 350px;
          margin-top: -20px;
        }
      }
    }
  }
}
