// White Text
.white-text {
  color: @brand-white;
  a {
    color: @brand-white;
  }
}
// Dark Image with Text
.dark-img {
  .white-text;
  text-shadow: 0 0 3px @brand-darkgray;
}
// Adds Caret After A tag
p {
  a {
    &:after {
      content: "\f0da";
      font-family: "FontAwesome";
      padding-left: 3px;
      font-size: 16px;
    }
  }
}

// Content Top Margins for Fixed Navigation
.content{
  @media all and (min-width: 992px) {
    margin: 120px 0 0;
  }
  .archive & {
    @media all and (min-width: 992px) {
      margin: 140px 0 0;
    }
  }
  .single & {
    @media all and (min-width: 992px) {
      margin: 140px 0 0;
    }
  }
}


// Awareness CtA

.awareness {
  padding: 15% 15px;
}


// Hero Image Styles
.hero-img {
  height: 300px;
  .hero-heading {
    margin: 50px 0 0;
  }
}
