// White Text
.white-text {
  color: @brand-white;
  a {
    color: @brand-white;
  }
}
// Dark Image with Text
.dark-img {
  .white-text;
  text-shadow: 0 0 3px @brand-darkgray;
}
// Adds Caret After A tag
p {
  a {
    &:after {

    }
  }
}

// Content Top Margins for Fixed Navigation
.content{
  @media all and (min-width: 992px) {
    margin: 80px 0 0;
  }
  .archive & {
    @media all and (min-width: 992px) {
      margin: 80px 0 0;
    }
  }
  .single & {
    @media all and (min-width: 992px) {
      margin: 140px 0 0;
    }
  }
}


// Awareness CtA

.awareness {
  padding: 15% 15px;
}


// Hero Image Styles
.hero-img {
  height: 300px;
  margin-bottom: 0px;
  .hero-heading {
    margin: 50px 0 ;
  }
}



ul#menu-g6pd-deficiency {
  list-style-type: none !important;
  li {
    padding: 9px 0;
    border-bottom: 1px solid @gray-light;
    &:last-of-type {
      border-bottom: 0px;
    }
  }
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -webkit-apperance: none !important;
}
