.form-control {
    background-color: fade(@brand-white, 50%) !important;
    border-radius: 3px;
    color: @brand-darkgray;
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

// Gravity Forms
form {
    .gform_body {
      input {
        .form-control;
      }
    }
}
